*{
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box !important;
}
.dashbord{
    display: block !important;
    width: 100%;
}
.Menu{
    display: none !important;
}

.Order{
    display: flex;
    align-items: center;
    gap: 50px;
}

.Total{
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:768px){

    .dashbord{
        display: none !important;
    }
    .Menu{
        display: block !important;
    }
    .Order{
        display: flex;
        align-items: center;
        gap: 17px;
    }
    .Total{
        display: flex;
        justify-content: space-evenly;
    }
}
.Jadu{
    overflow-y: scroll;
    height: 70vh;
}
.Inbox{
    position: sticky;
    top: 0px;
    background-color: aquamarine;
}


